body{
    margin: 0;
}
html {
    margin: 0;
}

body{
    clear: both;
}

img {
   float: left;
   margin-left: 15%;
   height: 1.143em;

}

.menu {
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
    list-style: none;
    text-align: right;
    margin-right: 15%;
      
    
}

.menu li,
.menu a {
    display: inline-block;
    text-decoration: none;
    color: #515043
    
}

.menu a {
    margin: 0 4px;
    padding: 10px;
    font-weight: 300;
}


.popis {
    font-family: 'Montserrat', sans-serif;
    background-color: #9AE3F4;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-top: 10%;
    padding-bottom: 7%;
    text-align: center;
    background-attachment: fixed;

    
}

.breakfast {
    font-size: 75px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #fff;
   
}

h2 {
    text-align: center;
    padding-top: -5px;
    padding-bottom: 2%;
}


.btn {
    padding: 19px 27px;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(253,104,91,1);
    border-radius: 7px;
    background-color: rgba(253,104,91,1)   
}

.brut {
    padding-top: 35px;
}

.plky {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffd256;
    padding-top: 7%;
    padding-bottom: 9%;
    margin-top: -7%;
    color: rgb(112, 97, 59);
    margin-bottom: 4%;
        
}

.muzli {
    color: rgb(112, 97, 59);
    font-size: 30px;
}

.comment1 {
    text-align: left;
    width: 350px;
    padding-left: 40%;
    font-size: 17px;
    font-style: italic;
    
}

.autor {
    
    color: black;
    padding-bottom: 23px;
    color: rgb(112, 97, 59);
}

.reklama {
    font-family: 'Montserrat', sans-serif;
    background-color: #363842;
    padding-top: 7%;
    padding-bottom: 10%;
    margin-top: -7%;
    margin-bottom: 5%;
    text-align: center;
}

.newsletter {
    color: #fff;
    font-size: 25px;
    margin-bottom: -0.5%;
}

.news {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1px;
    width: 610px;
    color: #fff;
    line-height: 1.80;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    font-size: 18px;
    
}

.sub {
    margin-top: -20px;
    padding: 15px 26px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(57, 174, 144, 1);
    border-radius: 6px;
    background-color: rgba(57, 174, 144, 1);
}

.konec {
    font-family: 'Montserrat', sans-serif;
    background-color: #2f313c;
    padding-top: -150%;
    padding-bottom: 2%;
    text-align: left;
    color: #8c95ad;
    margin-top: -100px;
    
}
.menu-1 {
    text-align: left;
    text-decoration: none;
    padding-top: 25px;
    padding-left: 8%;
    margin: 5px 4px;
    list-style-type: none;
    color: #8c95ad;
    line-height: 30px;
    width: 150px;
    padding-bottom: 25px;
}
a {
    color: #8c95ad;
    text-decoration: none;  
}
